@tailwind base;
@tailwind components;
@tailwind utilities;

.loadingspinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    /* border-top-color: #00BDFE; */
    border-radius: 50%;
    outline: none;
    animation: loadingspin 1s linear infinite;
    @apply border-t-primary;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg);
    }
}

.body-loading {
    border: none;
    overflow: hidden;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
